{{ if gt .Pagination.Pages 1 }}
<ul class="pagination" id="pagination">

  <!-- first -->
  
  {{ if gt .Pagination.PreviousPage 0 }}
  <li><a href="FIXME&page={{ .Pagination.PreviousPage }}">Previous page</a></li>
  {{ else }}
  <li class="disabled"><a href="#" disabled="disabled">This is the first page</a></li>
  {{ end }}

  <!-- middle -->
  
  <!-- last -->
  
  {{ if gt .Pagination.NextPage 0 }}
  <li><a href="{{ .Pagination.NextURL | .Pagination.URL }}">Next page</a></li>
  {{ else }}
  <li class="disabled"><a href="#" disabled="disabled">This is the last page</a></li>
  {{ end }}
  
</ul>
{{ end }}
