{{ if gt .Pagination.Pages 1 }}
<ul class="pagination" id="pagination">

  <!-- first -->

  {{ $prev := .Pagination.PreviousURL .URL }}
  {{ $next := .Pagination.NextURL .URL }}  

  {{ if eq $prev "#" }}
  <li class="disabled"><a href="#" disabled="disabled">This is the first page</a></li>
  {{ else }}  
  <li><a href="{{ $prev }}">Previous page</a></li>
  {{ end }}

  <!-- middle -->
  
  <!-- last -->
  
  {{ if eq $next "#" }}
  <li class="disabled"><a href="#" disabled="disabled">This is the last page</a></li>
  {{ else }}
  <li><a href="{{ $next }}">Next page</a></li>
  {{ end }}
  
</ul>
{{ end }}
