{{ with $it := .Item }}
     <div class="item" id="guid-{{ $it.GUID }}">
      <h2><a href="{{ $it.Link }}">{{ $it.Title }}</a> <small>{{ $it.Published }}</small></h2>
      <div>
	<blockquote>
      {{ if $it.Description }}
      {{ $it.Description | strip_tags }}
      {{ else if $it.Content }}
      {{ $it.Content| strip_tags }}
      {{ else }}
      {{ end }}
      </blockquote>
      </div>
      <p>{{ $it.Link }} <a href="/item?guid={{ $it.GUID }}">permalink</a></p>
      <p><a href="/recent?feed={{ $.Feed.Link }}">{{ $.Feed.Title }}</a></p>
      </div>
{{ end }}
