<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ if .PageTitle }}{{ .PageTitle }}{{ end }}</title>
  </head>
  <body>

    <div id="header">

      {{ if .User }}
      <div id="search">
	<form method="GET" action="/search">
	  <input type="text" name="q" id="q" placeholder="Enter query string here" />
	  <button type="submit">Search</button>
	</form>
      </div>
      {{ end }}
      
      <div id="nav">
	<ul>
	  {{ if .User }}
	  <li><a href="/recent">recent</a></li>      	  
	  <li><a href="/feeds">feeds</a></li>
	  <li><a href="/add">add feed</a></li>
	  <li><a href="/signout">sign out</a></li>
	 {{ else }}
	 <li><a href="/signin">sign in</a></li>
	 {{ end }}
	</ul>
      </div>
      
    </div>
      
    <div id="main">
    
